.card-container-2 {
    width: 280px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    height: fit-content;
}
.card-title-2 {
    margin: 0.5rem 5%;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    color: #019edb;
}    
.card-description-2 {
    margin: 0.5rem 5%;
    font-size: 15px;
    line-height: 26px;
    height: 100px;
    width: 250px;;
}
@media screen and (max-width:765px) {
    .card2 {
        margin-top: 100px;
        margin-left: 50px;
    }
}