.about
{
    height: 180vh;
    background: url('src/assets/images/rectangle_3_copy.png');
    color: white;
}
.head2{
    margin-top: 460px;
    margin-left: 510px;
    font-weight: 900;
    font-size: 40px;
}
.head-3{
    margin-top: 10px;
    margin-left: 565px;
    font-size: 20px;
}
.card{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
    color: white;
}
.card1{
    margin-top: 350px;
    margin-right: 50px;
    margin-left: 300px;
}
.card2{
    margin-top: 350px;
    margin-left: 50px;
}
.button3{
    width: 125px;
    height: 35px;
    border-radius: 17px;
    background-color: #019edb;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    margin-left: 630px;
    margin-top: 400px;
}
.line{
    height: 150px;
    margin-top: 370px;
}
@media screen and (max-width:600px) {
    .card1 {
        margin-top: 779px;
        margin-right: 50px;
        margin-left: 106px;
    }
    .line {
        height: 0;
        margin-top: 370px;
    }
    .head2 {
        display: none;
        margin-top: 460px;
        margin-left: 170px;
        font-weight: 900;
        font-size: 40px;
    }
    .head-3 {
        display: none;
        margin-top: 10px;
        margin-left: 233px;
        font-size: 20px;
    }
}
